.msg {
	font-size: 540%;
	color: rgb(190, 196, 234);
}

#but {
	width: 450px;
	height: 150px;
	background: linear-gradient(#e66465, #9198e5);

}
#input {
	height: 150px;
	width: 700px;
	font-size: 400%;
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

body{
	background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}